.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2 rem;
}

header a {
    text-decoration: none;
    color: rgb(43, 75, 52);
}
.landing {
    text-align: center;
    padding-top: 20px;
    font-size: 40px;
    color: rgb(43, 75, 52);
}
.menuItems {
    list-style: none;
    display: flex;
    align-items: center;
}
    
.menuItems li a {
    font-size: 1rem;
    padding: 0.5em 1em;    
}

.menuItems li a:hover {
    background-color:  rgb(244, 215, 166);
}

h1 {
    font-family: 'Abril Fatface', cursive;
    /* position: fixed; */
    right: 0;
    top: 0;
    width: 100%;
    /* background-color: rgb(225, 218, 206); */
    color: rgb(43, 75, 52);
    text-align: center;
}

h2 {
    font-family: 'Abril Fatface', cursive;
    /* position: fixed; */
    right: 0;
    top: 0;
    width: 100%;
    /* background-color: rgb(225, 218, 206); */
    color: rgb(43, 75, 52);
    text-align: center;
}

.bodyDiv {

    max-width: 90%;
    padding-left: 2rem;
}
.bodyTxt {
    font-family: 'Rufina', serif;
}

.bfCalc {
    font-family: 'Rufina', serif;
}

.bodyMenu {
    font-family: 'Rufina', serif;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    
}

.mainIMG {
    max-width: 80%;
    align-items: center;
}

form {
    font-family: 'Rufina', serif;
    margin: 1rem;
    max-width: 27rem;
}

label {
    display: block;
    margin: 1rem;
    padding: .75 rem 0;
}

span {
    font-size: .75rem;
    color: rgb(39, 87, 55);
}

input {
    font-family: 'Rufina', serif;
    /* display: block; */
    align-content: center;
    font-size: 1rem;
    padding: .75rem;
    background-color: rgb(244, 215, 166);
    border: 1px solid rgb(131, 96, 35);
    margin-top: .25rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.subBtn {
    max-width: 20rem;



}

/*nav start*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: bisque;
    
}
.logo{
    color: rgb(101, 160, 84);
    font-size: 20px;
}
.navLinks{
    display: flex;
    justify-content: space-around;
    width: 50%;
    

}
.navLinks li{
    list-style: none;
    
}

.navLinks a{
    color: rgb(101, 160, 84);
    text-decoration: none;
    letter-spacing: .5px;

}

.burger{
    display: none;
}

.burger div{
    width: 25px;
    height: 5px;
    background-color: rgb(52, 136, 48);
    margin: 5px;
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .navLinks{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: bisque;
        opacity: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .navLinks li{
        opacity: 90;
    }
    .burger{
        display: block;
        cursor: pointer;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }

    to{
        opacity: 1;
        transform: translateX(0px);
    }


}

/*nav end*/

.scores {
    font-family: 'Rufina', serif;
    padding-left: 20px;
    padding-bottom: 10px;
}
footer {
    font-family: 'Rufina', serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: rgb(225, 218, 206); */
    color: rgb(43, 75, 52);
    text-align: center;
}

.arborDay {
    font-family: 'Rufina', serif;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}